<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static '/css/globalcss.css' %}" id="theme-link">
    <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/js/global.js' %}"></script>
    <title>Настройки</title> 
    </head>
    <div class="title_watermark">
        <div class="title_watermark_text">
        <img class="logoStore" src="{% static '/img/logo.png' %}">
        <div class="title_watermark_texthgname_s">Настройки</div>
    </div>

    <body>
        <span style="margin-top: 100px;display: block;">
                  
        <div class="btn_group_s">
            <div class="group_s">
                <div class="title_s_group">Другое</div>
                  <a href="https://t.me/vaistoredj"><div class="btn_s">Телеграмм канал Ремейка</div></a>
                  <a href="https://t.me/dest4590"><div class="btn_s">Телеграмм создателя ремейка</div></a>
            </div>
        </div>
        <a href="/"><img class="home" src="{% static '/img/svg/back.svg' %}"></a>
    </body>
</html>